@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

a, a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    color: black;
    text-decoration: underline;
}

button {
    background-color: #ebebeb;
    border: none;
    color: #222222;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

.viewport {
    display: grid; 
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "headerbar"
        "content"
        "footerbar";
    min-height: 100vh;
}

.main-body {
    justify-content: center;
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 482px;
    height: 44px;
}

.main-search-form-input {
    width: 100%;
    height: 100%;
}

.main-search-form-buttons {
    margin-top: 45px;
    justify-self: center;
}

.main-image {
    margin-top: 109px;
    justify-self: center;
}

.headerbar {
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    grid-area: headerbar;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerbar-left {
    justify-self: left;
}

.headerbar-right {
    justify-self: right;
}

.footerbar {
    width: 100%;
    height: 40px;
    position: sticky;
    grid-area: footerbar;
    border-top: 1px solid #dadada;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ebebeb;
}

.footerbar-left {
    justify-self: left;
    margin-left: 15px;
}

.footerbar-right {
    justify-self: right;
    margin-right: 15px;
}