@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.viweport {
    margin: 10px;
    min-height: 100vh;
    display: grid; 
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "headerbar"
        "main"
        "footerbar";
}

.main {
    justify-content: center;
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.main-search-form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 482px;
    height: 44px;
}

.main-search-form-input {
    width: 100%;
    height: 100%;
}

.main-search-form-buttons {
    margin-top: 45px;
    justify-self: center;
}

.main-image {
    margin-top: 109px;
    justify-self: center;
}

.headerbar {
    grid-area: headerbar;
    height: 40px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.headerbar-left {
    justify-self: left;
}

.headerbar-right {
    justify-self: right;
}

.footerbar {
    grid-area: footerbar;
    width: 100%;
    height: 40px;
    border-top: 1px solid #dadada;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ebebeb;
}

.footerbar-left {
    justify-self: left;
}

.footerbar-right {
    justify-self: right;
}